body{
  background-color: lightgrey;
}

/* Navbar */
.navbar{
  border-bottom: 4px solid rgb(178, 182, 185);
  box-shadow: 0 5px 5px #888888;
  background-color:#000000;
  background:linear-gradient(147deg, #000000 0%, #202020 74%);
}
.i{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.i:hover{
  color: white;
}
.pop{
  position: relative;
  display: inline-block;
}
.pop .poptxt{
  visibility: hidden;
  width: auto;
  background-color: lightgrey;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.pop:hover .poptxt{
  visibility: visible;
}
.auth{
  text-align: right;
}

.home{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.home:hover{
  color: white;
}
img{
height:60px;
border-radius: 50%;
}
h1{
height:60px;
}
p{
font-family: 'Raleway',sans-serif;
font-size:25px;
}


/* jumbotron */
.jumbotron{
background-image: url(https://delhitourism.travel/images/places-to-visit/headers/rashtrapati-bhavan-delhi-entry-fee-timings-holidays-reviews-header.jpg);
  /* background-color: #cccccc; */
background-position: center center;
  background-repeat: no-repeat;
background-size: cover;
height:55vh;
box-shadow: 0 5px 10px #888888;
position: relative;
margin: 0 0 40px 0;
}

.name{
  margin: 0;
  width: 100%;
  color: white;
  background-color: #191818;
  opacity: 0.75;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.name h3{
  margin: 5px 0;
}

/* INTRO */
.intro{
  border: 1px solid #e0e2e2;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  padding: 50px 50px;
  margin: 0 15px;
}

.intro p{
  font-size: 14px;
  line-height: 1.75;
}

/* Exams */
.row{
  margin: 0;
}
.row h2{
  font-family: 'Times New Roman',sans-serif !important;
}

.exam{
  padding: 40px 0px 30px;
  text-align: center;
}

h4{
  font-size: 20px;
  font-weight: bold;
}

h6{
  font-weight: bold;
}
.crd p{
  font-size: 14px;
}

.card{
  height: 300px;
  margin-bottom: 10px;
}
.card:hover{
  transform: scale(1.04);
  border:1px solid #000;
  background-color: #e0e2e2;
  box-shadow: 2px 2px 15px rgba(33,33,33,.2);
}

/* Exam Information */
.info{
  border: 1px solid #E0E2E2;
  border-radius: 3px;
  padding: 20px 0;
  margin: 40px auto;
  width: 98%;
  background-color: white;
}
.info table,th,td{
  border: 1px solid #e0e2e2;
  padding: 5px 10px;
  text-align: center;
}
.info th{
  background-color: #191818;
  opacity: 0.75;
  color: white;
}

/* Civil Service Examination */
.cse, .ese, .cds{
  padding: 0 20px;
}
.cse p, .ese p, .cds p{
  font-size: 16px;
  line-height: 1.75;

}
.cse img, .ese img, .cds img{
  float: right;
  border-radius: 0;
  border: 2px solid black;
  height: auto;
  width: 10%;
}
.cse hr, .ese hr, .cds hr{
  background-color: #191818;
}

.elig p{
  font-size: 14px !important;
}

/* Engineering Service Examination */

/* Footer */
.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
  padding: 17px 50px;
  font-family:'Raleway',san-serif !important;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Times New Roman', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:black;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center .fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 1140px){
  .card{
    height: 350px;
  }
}
@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
